body {
  background-color: rgb(226, 240, 245);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 15%;
}

h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}
